$tomato: #E52D37
$text-color: #222

$ingredient-size: 1rem

@mixin font-body
  font-family: "garamond-premier-pro", georgia, serif
  font-weight: normal

@mixin font-headline
  font-family: "brandon-grotesque", sans
  font-style: normal
  font-weight: 900

html
  @include font-body
  -webkit-font-smoothing: antialiased

  font-size: 19px

  color: $text-color
  background: #FBFAF5

header
  margin-top: 3rem
  margin-bottom: 3rem

h1
  @include font-headline
  font-size: 3.3rem
  text-align: center
  margin: 0

h2
  color: $tomato
  font-size: 0.9rem
  text-align: center
  font-weight: 400
  margin-top: 0
  -webkit-font-smoothing: subpixel-antialiased

.recipeInput
  @include font-body
  color: $text-color

  display: block
  width: 100%
  height: 1.0rem

  font-size: $ingredient-size

  background: transparent
  border: none
  border-bottom: 2px solid #006EFF

  outline: none
  resize: none
  padding: 0.4rem 0
  
textarea
  height: 1.0rem
  line-height: 1.0rem

.content
  margin: auto

@media screen and (max-width: 800px)
  .content
    width: 512px

@media screen and (min-width: 800px)
  .content
    width: 700px

.initialInput
  width: 400px
  margin: 3em auto 0

.ingredients-list
  box-sizing: border-box
  list-style-type: none
  padding: 0 4em 0 0
  margin: 0
  float: left
  width: 75%

  li
    margin-bottom: 0.6rem

.recipeConverter-controls
  box-sizing: border-box
  width: 25%
  float: left
