$tomato: #E52D37
$text-color: #222

@mixin font-body
  font-family: "garamond-premier-pro", georgia, serif
  font-weight: normal

@mixin font-headline
  font-family: "brandon-grotesque", sans
  font-style: normal
  font-weight: 900

html
  @include font-body
  -webkit-font-smoothing: antialiased

  font-size: 21px

  color: $text-color
  background: #FBFAF5

header
  margin-top: 3rem
  margin-bottom: 3rem

h1
  @include font-headline
  font-size: 3rem
  text-align: center
  margin: 0

h2
  color: $tomato
  font-size: 0.8rem
  text-align: center
  font-weight: 400
  margin-top: 0
  -webkit-font-smoothing: subpixel-antialiased

.recipeInput
  @include font-body
  color: $text-color

  display: block
  width: 100%
  height: 1.1rem

  font-size: 1.1rem

  background: transparent
  border: none
  border-bottom: 2px solid #006EFF

  outline: none
  resize: none
  padding: 0.5rem 0
  
textarea
  height: 1.1rem
  line-height: 1.1rem

.content
  width: 400px
  margin: auto


.ingredients-list
  list-style-type: none
  padding: 0

  li
    font-size: 1.1rem
    margin: 0.8rem 0
